.app {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--color-background);
 
  &__container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
 }